@import '../theme.css';


.container {
    width: 100%;
    margin: auto auto;
    text-align: center;
}

.logo {
    width: 10%;
    border: 4px solid black;
    border-radius: 50%;
    background-color: white;
    padding: 1%;
}

.log-title {
    font-size: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
    margin: 0;
    font-weight: 900;
}

.logo-img {
    width: 70%;
    border-radius: 50%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color);
    margin: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    width: 30%;
    margin: 0 auto;
    box-shadow: var(--shadow-color) 0px 54px 55px, var(--shadow-color) 0px -12px 30px, var(--shadow-color) 0px 4px 6px, var(--shadow-color) 0px 12px 13px, var(--shadow-color) 0px -3px 5px;
}

.text {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
}


.tabs {
    width: 70%;
    border-radius:lg;
    border-color:rgb(6, 36, 101);
    border-width:2px;
    padding:18px
}

.tab-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.tab {
    width: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-align: center;

}

.tab:hover {
    background-color: var(--active-color);
    color: black;
}

.tab.active {
    background-color: var(--active-color);
    color: black;
    border-color: var(--active-color);
}

.tab-panel {
    margin-top: 1rem;
}

.forget-txt {
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: medium;
    color: var(--text-color);
}

.forget-txt:hover {
    color: var(--hover-color);
}