:root {
    --screen-background:black;
    --primary-color: #87CEEB;
    --secondary-color: #FFD700;
    --accent-color: #ff7a63;
    --box-background:#f83838;
    --box-background-color: #FFFACD;
    --input-background-color: #E6E6FA;
    --text-color:white;
    --border-color: rgb(6, 36, 101);
    --hover-color: #4682B4;
    --active-color: white;
    --shadow-color: rgba(153, 155, 155, 0.3);
}